body{
margin: 0;
padding: 0;
background-color: #434242;
}
.main-page{
    display: flex;
}
.main-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 15%;
    background-color: #282828;
}

.main-heading h1{
    height: 5%;
    color: white;
    font-size: 1.5rem;
}

.navbar-container{
    height: 100vh;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
}

.sorting-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
}

.sort-btn {
    background: white;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    transition: 0.1s ease-out;
  }
  
  .sort-btn:active {
    transform: translate(0.15em, 0.15em);
    box-shadow: 0.05em 0.05em;
  }

.slider-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider-controls div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.85rem;
}

.slider-controls div h1{
    font-size: 1rem;
    color: white;
}

.new-array-btn{
    width: 7.5em;
    height: 2.5em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .new-array-btn:hover {
    color: black;
   }
   
   .new-array-btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .new-array-btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }

input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 0.75rem;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 * 2. Shadow is negative the full width of the input and has a spread 
 *    of the width of the input.
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px; /* 1 */
    height: 60px;
    background: #fff;
    box-shadow: -200px 0 0 200px grey; /* 2 */
    border: 1px solid #999; /* 1 */
}

::-moz-range-track {
    height: 10px;
    background: #282828;
}

::-moz-range-thumb {
    background: #282828;
    height: 60px;
    width: 10px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -200px 0 0 200px dodgerblue;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: dodgerblue;
}

::-ms-thumb { 
    background: #282828;
    border: 2px solid #999;
    height: 60px;
    width: 10px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #282828;
    color: #282828;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}

.sorting-bars{
    display: flex;
    justify-content: center;
    align-items: last baseline;
    width: 100%;
    height: 100%;
    gap: 1px;
    margin-bottom: 2rem;
}

.array-bar{
    display: flex;
    width: 5px;
    border: 1px solid black;
}

.exec-time{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 3rem;
}

.exec-time h1{
    padding: 2rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
}